
.flex-container {
    display: flex;
    /* padding: 50px; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about {
    /* position: absolute; */
    width: 300px;
    height: 300px;
    background: rgba(0, 206, 201, 0.5);
    box-shadow: 5px 5px 0px rgba(244, 95, 133, 0.8);
    border-radius: 5px;
    margin: 50px;
    padding: 50px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    /* position: absolute; */
    width: 340px;
    height: 350px;
    background: #A29BFE;
    box-shadow: 5px 5px 0px rgba(5, 73, 75, 0.8);
    border-radius: 5px;
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-style{
    width: 300px;
    padding: 12px 20px;
    background: #FFEAA7;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 10px;
    border:0px;
    font-family: monospace;
}

@media screen and (max-width: 600px){
    .about {
        /* position: absolute; */
        width: 80%;
        height: 200px;
    }
    
    .login {
        /* position: absolute; */
        width: 80%;
        height: auto;
        padding: 20px;
    }
    .input-style{
        width: 80%;
        padding: 12px 20px;
        background: #FFEAA7;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        /* margin: 10px; */
        border:0px;
        font-family: monospace;
    }
}

/* #email[type=email]{
    width: 300px;
    padding: 12px 20px;
    background: #FFEAA7;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 10px;
    border:0px;
    font-family: monospace;
}
#name{
    width: 300px;
    padding: 12px 20px;
    background: #FFEAA7;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 10px;
    border:0px;
    font-family: monospace;
}

#password{
    width: 300px;
    padding: 12px 20px;
    background: #FFEAA7;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin:10px;
    border:0px;
    font-family: monospace;
}

#checkpassword{
    width: 300px;
    padding: 12px 20px;
    background: #FFEAA7;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin:10px;
    border:0px;
    font-family: monospace;
} */

#login{
    width: 100px;
    padding: 12px 20px;
    background: #FF7675;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin:10px;
    border:0px;
    font-family: monospace;
}

#register{
    width: 100px;
    padding: 12px 20px;
    background: #FF7675;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin:10px;
    border:0px;
    font-family: monospace;
}

#go-register{
    padding: 12px 20px;
    margin:10px;
    border:0px;
}

/* #email:focus{
    outline: none;
}

#password:focus{
    outline: none;
} */

.input-style:focus{
    outline: none;
}

.hide{
    display:none;
}